<div class="container">
    <h3 class=" text-center"><%=params[:bot] %></h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar"  placeholder="Search" >
                            <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    <% @chat_collection.each_with_index do |chat,index| %>
                        <div class="chat_list <%='active_chat' if index==0 %>" id="userchat<%= chat.id %>">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <h5><%= chat.username %> <span class="chat_date">Dec 25</span></h5>
                                </div>
                            </div>
                        </div>
                    <% end %>

                </div>
            </div>

          <% @chat_collection.each_with_index do |chat,index| %>
            <div class="mesgs  <%='mesgs-hidden' unless index==0 %>" chat_id="<%= chat.id %>">
              <div class="msg_history" id="msg_history<%= chat.id %>">
                <% chat.messages.each do |message| %>
                  <% if message['from']['is_bot'] == true %>
                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p><%= message['text'] %></p>
                        <span class="time_date"> <%= Time.at message['date'] %></span> </div>
                    </div>
                  <% else %>
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><%= message['text'] %></p>
                          <span class="time_date"> <%= Time.at message['date'] %></span></div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" />
                  <div chat_id="<%= chat.id %>" bot="<%=params[:bot]%>" class="msg_send_btn">SEND</div>
                </div>
              </div>
            </div>
          <% end %>


        </div>
    </div>
</div>